<ion-view title="Page" hide-nav-bar="true" class="detailpage">
    <div class="custom-header detail">
       <a ui-sref="tabsController.list"><i class="icon ion-ios-arrow-left"></i></a>
       <h4>Zero Wait</h4>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
       <img src="img/back.jpg" width="100%">
       <span class="discount">30% Discount</span>
       <div class="res-info">
          <img src="img/rest.jpg" width="80px" height="80px">
          <div class="text">
            <p class="title">Name of Restaurant</p>
            <p class="location"><font color="#f1a30b" size="3"><i class="ion ion-location"></i></font>&nbsp;Unit 4, Midleton Gate, UK</p>
            <p class="tel"><font color="#f1a30b" size="3"><i class="ion ion-ios-telephone"></i></font>&nbsp;+44 1483 30 36 66</p>
            <p class="openhour">Open Hour : <font color="#f1a30b">12 PM</font> to <font color="#f1a30b">8 PM</font></p>
          <div>
       </div>
       <div class="block">
            <p class="title">
                Wait Time:
            </p>
            <p class="content-block">
                Wait Time (approx.)40 - 60 min <br>          
                2 Persions - 40 minutes <br>           
                4+ Persions - 60 minutes
            </p>
       </div>
       <div class="block">
            <p class="title">
               Website:
            </p>
            <p class="content-block">
               www.zeropoint.com
            </p>
       </div>
       <div class="block">
            <p class="title">
               Restaurant Details:
            </p>
            <p class="content-block">
               Lorem Ipsum is simply dummy text of the printing and typesetting industry Ipsum had been the industry's standard dummy text ever since 1500s,Loram Ipsum is simply dummy text.
            </p>
       </div>
       <div class="photo block">
            <p class="title">
               Photo Gallery
            </p>
            <div class="gallery">
                <ul>
                    <li>
                        <img src="img/rest.jpg">
                    </li>
                    <li>
                        <img src="img/rest.jpg">
                    </li>
                </ul>
            </div>
       </div>
       <div class="block persion-nums">
            <p class="title">
               Number of Persions:
            </p>
            <br>
            <input type="text">            
       </div>
       <a ui-sref="" class="reserve-btn button button-energized button-small icon ion-ios-paper-outline">&nbsp;&nbsp;Reserve Now</a>
    </ion-content>
</ion-view>