<ion-view title="List" hide-nav-bar="true" class="listpage">
	<div class="custom-header list">
        <img class="mark" src="img/list.png" width="30px" height="26px">
        <p>Zero Wait</p> 
        <button class = "maplist" ng-click="onClick()"> MAP </button>
       
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	<ul class="list res-list">
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>
		    <li ui-sref="detail" class="item" style="background-image:url(img/back.jpg)">
		      <img src="img/rest.jpg" width="60px" height="60px">
		      <span class="time">Time:20M to 30M</span>
		      <div class="info">
		      	<p class="title">Name of Restaurant</p>
		      	<p>Location: Name of Restaurant Name of Restaurant</p>
		      	<p>Distance: 1km</p>
		      </div>
		    </li>		    
		</ul>
	</ion-content>
</ion-view>