<ion-view title="Login" hide-nav-bar="true" class="loginpage">
    <ion-content overflow-scroll="true" padding="true"> 
        <div class="spacer" style="width: 300px; height: 24px;"></div>       
        <div style="text-align:center;">
            <img src="img/logo.png" width="50%" height="auto">
        </div>
        <div class="spacer" style="width: 300px; height: 29px;"></div>
        <form class="list" ng-submit="login()" role="form">
            <label class="item item-input" name="username">
                <input type="text" placeholder="Phone/Email" ng-model="loginFormData.username">
            </label>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <label class="item item-input" name="password">
                <input type="password" placeholder="Password" ng-model="loginFormData.password">
            </label>
        </form>
        <button type="submit" class="button button-energized button-block  icon ion-log-in">&nbsp;&nbsp;Sign In</button>
    </ion-content>
</ion-view>