<ion-view title="Reservation" hide-nav-bar="true" class="reservationpage">
	<div class="custom-header reservation">
        <img class="mark" src="img/list.png" width="30px" height="26px">
        <p>Zero Wait</p>
       	<a ui-sref="setting" class="button-icon icon ion-gear-a"></a>
       	<a class="button-icon icon ion-ios-search"></a>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header reservation-table">
        <h4>Reservation</h4>
        <div class="row header">
          <div class="col col-40">Name</div>
          <div class="col col-20">Num</div>
          <div class="col col-20">Time</div>
          <div class="col col-10"></div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-40">Hotel Name</div>
          <div class="col col-20">4</div>
          <div class="col col-20">10:12</div>
          <div class="col col-10"><a><i class="ion ion-compose"></i></a></div>
          <div class="col col-10"><a><i class="ion ion-android-close"></i></a></div>
        </div>
    </ion-content>
</ion-view>