<ion-view cache="false" hide-nav-bar="true" class="settingpage">
	 <div class="custom-header detail">
       <a ui-sref="tabsController.profile"><i class="icon ion-ios-arrow-left"></i></a>
       <h4>Account Settings</h4>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	 <div class="list">
          <a class="item item-icon-right" href="#">
            Edit Profile
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
             Bluetooth Check IN
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Send Feedback
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Rate Out App
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Term of Use
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Privacy Policy
            <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
            Like Us on Facebook
            <i class="icon ion-social-facebook"></i>
          </a>
       </div>
	</ion-content>
</ion-view>