<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-light tabs-icon-top">
        <ion-tab title="Map" icon="ion-location" href="#/page5/map">
            <ion-nav-view name="tab4"></ion-nav-view>
       <!-- </ion-tab>
        <ion-tab title="List" icon="ion-ios-list-outline" href="#/page5/list">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>-->
        <ion-tab title="Reservation" icon="ion-ios-paper" href="#/page5/reservation">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-android-person" href="#/page5/profile">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>